---
layout: default
title: Events
twitter-description: Sign up for an event near you or plan your own mapathon. You can contribute to mapping projects around the world and explore the power of maps! Get in touch, we're happy to help!
dates:
  - id: presaturday
    name: Saturday, November 14th (starting a day early!)
  - id: sunday
    name: Sunday, November 15th
  - id: monday
    name: Monday, November 16th
  - id: tuesday
    name: Tuesday, November 17th
  - id: wednesday
    name: Wednesday, November 18th
  - id: thursday
    name: Thursday, November 19th
  - id: friday
    name: Friday, November 20th
  - id: saturday
    name: Saturday, November 21st
---

<div class='fill-green dark'>
  <div class='limiter'>
    <div class='pad2y'>
      <h1 class='space-bottom1 space-top4'>Events</h1>
      <p class='prose-big'> Find an event near you. Or, let us know if you are <a href="{{site.baseurl}}/plan/">planning an event</a>, <a href="http://goo.gl/forms/bBI3pQ1IE6">submit the details</a> or </a><a href="mailto:mapgive@state.gov">get in touch</a>!</p>
    </div>
  </div>
</div>



  {% for date in page.dates %}
  {% if site.tags[date.id].size > 0 %}
  <div class='pad2y'>
    <div class='limiter'>
      <div class='col12 quiet space-bottom1  {% unless forloop.index == 1 %}keyline-top{% endunless %}'>
        <h3 class='col11-5 pad2y'>
          {{date.name}}
        </h3>
      </div>
      <div class='col12 pad1y'>
        {% for item in site.tags[date.id] order:ascending %}
          <div class='col12 pad1y clearfix {% if item.highlight == true %}highlight{% endif %}'>
            <div>
              <div class='headline clearfix space-bottom1'>
                <h2><a href='{{site.baseurl}}/{{item.permalink}}'>{{item.title}}</a></h2>
                <span class='text-right quiet'>{{item.location}}</span>
                <span class='strong'>
                {{item.time}} | {{item.day}}
              </span>
              </div>
              <div class='prose schedule'>
                {{item.excerpt}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

</div>

  {% include map.html %}

